.panda-bg-info{
    background-color: #FCEAE8;
}
.panda-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.categories-watch{
    background-color: #FFA500;
}
.categories-bag{
    background-color: #DA70D6;
}
.categories-shoes{
    background-color: #0000FF;
}
.carousel-text{
    color: #FF136F;
}
